$active:           hsl(136, 100%, 34%);
$selected:         hsl(56, 67%, 82%);
$primary:          hsl(206, 5%, 65%);
$secondary:        hsl(210, 6%, 70%);

$success:          magenta;
$info:             magenta;
$warning:          magenta;
$danger:           magenta;

$light:            hsl(180,1%,90%);
$dark:             hsl(180,1%,10%);
$gray:             hsl(180,1%,40%);

$selected-bg:      hsl(56, 67%, 82%);
$primary-bg:       hsl(60,3%,79%);
$secondary-bg:     hsl(30,22%,96%);

$tertiary-bg:      hsl(40,6%,90%);
$success-bg:       magenta;
$info-bg:          magenta;
$warning-bg:       magenta;
$danger-bg:        magenta;

$light-bg:         magenta;
$gray:             magenta;
$dark-bg:          magenta;




svg.ui-view {
  outline: none;
}

.view-scene {

}

.view-scene-background {
  fill: $primary-bg;
}



.panel-container {
  fill: $secondary-bg;

  filter: drop-shadow(3px 6px 10px hsl(200,10%,30%));
  stroke: $light;
}

.panel-container.selected {
  filter: drop-shadow(0px 0px 0px hsl(0,0%,70%));
  fill: $selected-bg;
}

.panel-caption {
  fill: $tertiary-bg;

  // stroke: hsl(283,23%,10%);
}

.panel-caption-text {
  fill: $dark;
  // font-size: 1.5rem;
  pointer-events: none;
  user-select: none;
}
.panel-pod {
  fill: transparent;
  // stroke: hsl(283,23%,10%);
}

.panel-line {
  fill: transparent;
  /* fill: hsl(283,23%,15%); */
  /* stroke: hsl(283,23%,10%); */
}

.panel-line-text {
  fill: gray;
  // font-size: .75rem;
  pointer-events: none;
  user-select: none;
}

.panel-line-port {
  fill: $primary;
  stroke: $tertiary-bg;
}

.cable-line {
  stroke: $secondary;
  stroke-width: 5;
}

.cable-line.selected {
  stroke: $selected;
}

.cable-line-indicator {
  stroke: $active;
  stroke-width: 5;
}
