$active:           hsl(136, 100%, 34%);
$selected:         hsl(18, 90%, 60%);
$primary:          hsl(206, 5%, 65%);
$secondary:        hsl(210, 6%, 70%);

$success:          magenta;
$info:             magenta;
$warning:          magenta;
$danger:           magenta;

$light:            hsl(180,1%,90%);
$dark:             hsl(180,1%,10%);
$gray:             hsl(180,1%,40%);

$active-bg:      hsl(56, 67%, 82%);
$selected-bg:      hsl(19, 79%, 55%);

$primary-bg:       hsl(60,3%,75%);
$secondary-bg:     hsl(19, 79%, 55%);

$tertiary-bg:      hsl(40,6%,90%);
$success-bg:       magenta;
$info-bg:          magenta;
$warning-bg:       magenta;
$danger-bg:        magenta;

$light-bg:         magenta;
$gray-bg:          hsl(60,3%,72%);
$dark-bg:          magenta;




svg.ui-view {
  outline: none;
}

.view-scene {

}

.view-scene-background {
  fill: $primary-bg;
}



.panel-container {
  fill: $primary-bg;
  stroke: $gray;
  // filter: drop-shadow(3px 6px 10px hsl(200,10%,30%));
}

.panel-container.selected {
  // fill:  tint($dark, $dark, 30%);
  fill:  $gray-bg;
  // stroke: transparent;
}

.panel-caption {
  fill: $primary-bg;
  stroke: $primary;
}

.panel-caption.selected {
  fill: $selected-bg;
  stroke: $selected;
}

.panel-caption-text {
  fill: $dark;
  // font-size: 1.5rem;
  pointer-events: none;
  user-select: none;
}
.panel-pod {
  fill: transparent;
  // stroke: hsl(283,23%,10%);
}

.panel-line {
  fill: transparent;
  /* fill: hsl(283,23%,15%); */
  /* stroke: hsl(283,23%,10%); */
}

.panel-line-text {
  fill: gray;
  // font-size: .75rem;
  pointer-events: none;
  user-select: none;
}

.panel-line-port {
  fill: $primary;
  stroke: $tertiary-bg;
}

.cable-line {
  stroke: $gray;
  stroke-width: 1;
}
.cable-line-ghost {
  // for clicking
  stroke: rgba(185, 185, 185, 0.1);
  stroke-width: 22;
}
.cable-line.selected {
  stroke: $selected;
}

.cable-line-indicator {
  stroke: $dark;
  stroke-width: 1;
}


.junction-caption {
  fill: $primary;
  stroke: $tertiary-bg;
}

.junction-caption.selected {
  fill: $selected;

}

.junction-port {
  fill: $primary;
  stroke: $tertiary-bg;
}
