.view-scene {
}
.view-scene-background {
  fill: hsl(215,26%,13%);
}

.panel-container {
  filter: drop-shadow(4px 4px 20px hsl(215,26%,5%));
  fill: hsl(283,23%,15%);
  stroke: hsl(283,23%,10%);
}

.panel-caption {
  fill: hsl(215,28%,12%);
  stroke: hsl(283,23%,10%);
}

.panel-caption-text {
  fill: hsl(7,45%,47%);
  font-size: 1.5rem;
  pointer-events: none;
  user-select: none;
}
.panel-pod {
  fill: hsl(215,28%,12%);
  stroke: hsl(283,23%,10%);
}

.panel-line {
  fill: none;
  /* fill: hsl(283,23%,15%); */
  /* stroke: hsl(283,23%,10%); */
}

.panel-line-text {
  fill: hsl(170,13%,35%);
  font-size: .75rem;
  pointer-events: none;
  user-select: none;
}

.panel-line-port {
  fill: hsl(200,80%,20%);
  stroke: hsl(28,96%,25%);
}

.cable-line {
  stroke: hsl(200,80%,20%)
}

.cable-line-indicator {
  stroke: hsl(200,80%,40%)
}



/* utility */

.line-ant-trail {
  stroke-dasharray: 10; /* length of dash + gap = 20 */
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20; /* offset = length to 'move' the dash by its own length */
  }
}
